 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: url("background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.weather-card{
    width: 380px;
    padding: 30px;

    text-align: center;
    color: white;

    border-radius: 25px;

    background: rgba(255, 255, 255, 0.15);

    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    border: 1px solid rgba(255,255,255,0.2);

    box-shadow: 0 8px 32px rgba(0,0,0,0.2);
}

.weather-card h1{
    font-size: 2.5rem;
    font-weight: 700;
}

.weather-card h3{
    font-size: 1.1rem;
    font-weight: 400;
    opacity: 0.9;
    margin-top: 5px;
}

.weather-icon{
    width: 140px;
    height: 140px;

    display: block;
    margin: 15px auto;
}

 
.temperature{
    font-size: 4.5rem;
    font-weight: 700;
    margin-top: -10px;
}

 
.condition{
    font-size: 1.4rem;
    margin-bottom: 20px;
    font-weight: 500;
}

 
.weather-info{
    margin-top: 15px;
}

.info-row{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 14px 0;

    border-top: 1px solid rgba(255,255,255,0.2);

    font-size: 1rem;
}

.fa-droplet{
    color: #4FC3F7;
}

.fa-wind{
    color: #E0E0E0;
}

.fa-gauge-high{
    color: #81C784;
}

.info-row i{
    margin-right: 8px;
}


.search-box{
    margin-top: 25px;

    display: flex;
    align-items: center;

    background: white;

    border-radius: 50px;

    overflow: hidden;
}

.search-box input{
    flex: 1;

    border: none;
    outline: none;

    padding: 15px 20px;

    font-size: 1rem;
}

.search-box button{
    width: 65px;
    height: 55px;

    border: none;
    cursor: pointer;

    color: white;
    font-size: 1.1rem;

    background: linear-gradient(
        135deg,
        #4FACFE,
        #00C6FF
    );

    transition: 0.3s ease;
}

.search-box button:hover{
    opacity: 0.9;
}

/* Mobile Responsive */
@media (max-width: 450px){

    .weather-card{
        width: 90%;
        padding: 25px;
    }

    .temperature{
        font-size: 3.5rem;
    }

    .weather-icon{
        width: 120px;
        height: 120px;
    }

    .condition{
        font-size: 1.2rem;
    }
}